home.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Desafio da Ordem</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="components/foundation/css/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="components/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="components/owl-carousel/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="components/owl-carousel/owl.transitions.css">
    <link rel="stylesheet" type="text/css" href="css/bundle.css">
  </head>
  <body>
    <nav class="row">   
      <div class="top-bar">   
        <div class="top-bar-left">
          <ul class="social menu">
            <li class="facebook"><a hrfe="#"><i class="fa fa-facebook"></i></a></li>
            <li class="instagram"><a hrfe="#"><i class="fa fa-instagram"> </i></a></li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li> <a hrfe="#">Cadastro</a></li>
            <li> <a hrfe="#">Artigos</a></li>
            <li><a hrfe="#">Contato</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <header class="row">
      <div class="content">
        <div class="logo"><img src="img/logo.png"></div>
        <h1>Desafio da Ordem</h1>
        <p class="lead">Encare esse desafio e passe na OAB!   </p>
        <button class="download">Baixar        </button>
      </div>
    </header>
    <main>
      <div id="apresentacao">
        <div class="row">
          <div class="content">     
            <div class="mobile hide-for-small-only small-12 medium-4 columns"><img src="img/ipad-iphone.png"></div>
            <div class="video-ceo small-12 medium-8 columns">
              <iframe src="https://player.vimeo.com/video/155975445?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
      <div id="beneficios" class="owl-carousel">
        <div class="row"><img src="img/beneficios/1.svg" class="small-5 columns">
          <p class="texto small-7 columns"><span class="destaque">Desafie</span> amigos ou outros jogadores para um embate de perguntas e respostas             </p>
        </div>
        <div class="row">
          <p class="texto small-8 columns"><span class="destaque">Responda</span> uma grande variedade de questões de direito</p><img src="img/beneficios/2.svg" class="small-4 columns">
        </div>
        <div class="row"><img src="img/beneficios/3.svg" class="small-5 columns">
          <p class="texto small-7 columns"><span class="destaque">Acompanhe</span> seu desenvolvimento atrvés das suas conquistas e fique cade vez mais perto de passar na OAB!
            
                 
            
          </p>
        </div>
      </div>
      <div id="auxiliar-1" class="row"></div>
      <div id="noticias" class="row"></div>
      <div id="auxiliar-2"> </div>
      <div id="convite" class="row">
        <div class="content">
          <h1>Comece a treinar JÁ!</h1>
          <button class="download">Baixar        </button>
        </div>
      </div>
      <div id="newsletter" class="row">
        <div class="content">
          <h4>Cadastre-se para receber notícias sobre o nosso App e serviço Coaching                    </h4>
          <div class="inscricao medium-8 medium-offset-2">
            <h3>E-mail</h3>
            <input>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="content">        
        <div class="logo"><img src="img/logo.png"></div>
        <ul class="paginas">
          <li>Cadastro</li>
          <li>Artigos</li>
          <li>Contato      </li>
        </ul>
      </div>
    </footer>
    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="components/owl-carousel/owl.carousel.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $("#beneficios").owlCarousel({
          autoPlay : 3000,
          stopOnHover : true,
          paginationSpeed : 1000,
          goToFirstSpeed : 2000,
          singleItem : true,
          autoHeight : true,
          transitionStyle:"fade"
        });
      });
      
    </script>
    <script src="http://localhost:4500/livereload.js"></script>
  </body>
</html>

jade/home.jade
doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Desafio da Ordem
    link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
    link(rel="stylesheet" type="text/css" href="components/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" type="text/css" href="components/foundation/css/foundation.min.css")
    link(rel="stylesheet" type="text/css" href="components/owl-carousel/owl.carousel.css")
    link(rel="stylesheet" type="text/css" href="components/owl-carousel/owl.theme.css")
    link(rel="stylesheet" type="text/css" href="components/owl-carousel/owl.transitions.css")
    link(rel="stylesheet" type="text/css" href="css/bundle.css")
  body
    
    nav.row    
      .top-bar    
        .top-bar-left
          ul.social.menu
            li.facebook
              a(hrfe="#")
                i.fa.fa-facebook
            li.instagram
              a(hrfe="#")
                i.fa.fa-instagram 
        .top-bar-right
          ul.menu
            li 
              a(hrfe="#") Cadastro
            li 
              a(hrfe="#") Artigos
            li
              a(hrfe="#") Contato
    
    header.row
      .content
        .logo
          img(src="img/logo.png") 
        h1 Desafio da Ordem
        p.lead Encare esse desafio e passe na OAB!   
        button.download Baixar        
    main
      #apresentacao
        .row
          .content      
            .mobile.hide-for-small-only.small-12.medium-4.columns
              img(src="img/ipad-iphone.png")
            .video-ceo.small-12.medium-8.columns
              iframe(
                src="https://player.vimeo.com/video/155975445?color=ffffff&title=0&byline=0&portrait=0&badge=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen
              )
      #beneficios.owl-carousel
        .row
          img.small-5.columns(src="img/beneficios/1.svg")            
          p.texto.small-7.columns.
            #[span.destaque Desafie] amigos ou outros jogadores para um embate de perguntas e respostas             
        .row
          p.texto.small-8.columns.
            #[span.destaque Responda] uma grande variedade de questões de direito
          img.small-4.columns(src="img/beneficios/2.svg")            
        .row
          img.small-5.columns(src="img/beneficios/3.svg")            
          p.texto.small-7.columns.
            #[span.destaque Acompanhe] seu desenvolvimento atrvés das suas conquistas e fique cade vez mais perto de passar na OAB!
          
                 
      
      #auxiliar-1.row
        
      #noticias.row
        
      #auxiliar-2  
      #convite.row
        .content
          h1 Comece a treinar JÁ!
          button.download Baixar        
      #newsletter.row
        .content
          h4 Cadastre-se para receber notícias sobre o nosso App e serviço Coaching                    
          .inscricao.medium-8.medium-offset-2
            h3 E-mail
            input
    footer
      .content         
        .logo
          img(src="img/logo.png")      
        ul.paginas
          li Cadastro
          li Artigos
          li Contato      
        
    script(src="components/jquery/dist/jquery.min.js")
    script(src="components/owl-carousel/owl.carousel.min.js")
    
    script(type="text/javascript").
      $(document).ready(function() {
        $("#beneficios").owlCarousel({
          autoPlay : 3000,
          stopOnHover : true,
          paginationSpeed : 1000,
          goToFirstSpeed : 2000,
          singleItem : true,
          autoHeight : true,
          transitionStyle:"fade"
        });
      });
    
    script(src="http://localhost:4500/livereload.js")
  
